@using PraticeMvcCrud_EF.Models
@model  Student
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
@using (Html.BeginForm("Details", "Student", FormMethod.Post))
{

    @Html.HiddenFor(model => model.Sno)


    <dt>
        @Html.DisplayNameFor(m => m.Name)
    </dt>
    <dd>
        @Html.DisplayFor(m => m.Name)
    </dd>

    <dt>
        @Html.DisplayNameFor(m => m.Fee)
    </dt>
    <dd>
        @Html.DisplayFor(m => m.Fee)
    </dd>

    <input type="submit" value="Edit" />

}

@Html.ActionLink("Back to list ", "Index")





